.top-header {
  background-color: #ffffff;
  padding: 12px;
}

.displayButton {
  position: relative;
}

.dropOnClick {
  position: absolute;
  left: 16px;
  width: 250px;
  border-radius: 7px;
  margin-top: 10px;
  z-index: 10;
  box-shadow: 0 0 10px -6px black;
  border: 1px solid lightgray;
  background-color: #f8f8fa;
  padding: 13px;
}

.dropOnClick > * {
  width: 100%;
}

.grouping-ordering {
  color: #919293;
  font-size: 9px;
  font-weight: 550;
}

.btn {
  border: 1px solid lightgray;
  border-radius: 7px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 9px;
  box-shadow: 0 0 10px -6px black;
  margin-left: 15px;
}

.selectStyle {
  width: 100px;
  border-radius: 5px;
  background: #fefffe;
  padding: 2px 5px;
  border: 1px solid lightgray;
  outline: none;
  font-size: 9px;
}
